# PART I: Data Preparation and Preprocessing

# 1.Describe the dataset

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('C:/Users/Minh/Desktop/Assignment/data.csv')

C:\Users\Minh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.columns

Index(['Id', 'Title', 'Company', 'Date', 'Location', 'Area', 'Classification',
       'SubClassification', 'Requirement', 'FullDescription', 'LowestSalary',
       'HighestSalary', 'JobType'],
      dtype='object')

In [4]:
data['Id'].size

318477

In [5]:
column=list(data.columns)

for i in range(0,data.shape[1]-1):
    print(f'Size of column {column[i]}: ',data[column[i]].count())

Size of column Id:  318477
Size of column Title:  318477
Size of column Company:  306473
Size of column Date:  318477
Size of column Location:  197229
Size of column Area:  122658
Size of column Classification:  197229
Size of column SubClassification:  197229
Size of column Requirement:  318470
Size of column FullDescription:  302302
Size of column LowestSalary:  318477
Size of column HighestSalary:  318477

### What is dataset structure/format?

  + The format of dataset is "CSV"

In [10]:
data.head(5)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
1,37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
2,37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN
3,37404330,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07T00:00:00.000Z,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0,30,NaN
4,37404308,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN

#   * Predict about salary based on Dataset above:
### What are attributes/features of review data you are going to use?
  + Classifiation, SubClassification
### What are attributes/features of product data you are going to use?
  + LowestSalary, HighestSalary

   ### Which parts of the dataset will you use or all of them?
    + Company, Date, Classification, SubClassification, LowestSalary, HighestSalar

# 2. Describe the steps you used for data preparation and preprocessing.

* How do you load the data using Pandas?
   Step1:
    import pandas as pd 
   Step2:
    data = pd.read_csv("C:/Users/Minh/Desktop/Assignment/data.csv")
   Step3:
    data.head()

### How do you normalize the data?
    # NOT YET

### How do you clean the data?

In [11]:
data.head(5)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
1,37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
2,37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN
3,37404330,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07T00:00:00.000Z,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0,30,NaN
4,37404308,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN

In [36]:
data["FullDescription"].isnull()

0         True
1         True
2         True
3         True
4         True
          ...
318472    True
318473    True
318474    True
318475    True
318476    True
Name: FullDescription, Length: 318477, dtype: bool

In [37]:
import re

In [42]:
clean = re.compile("<.*?>")

In [61]:
data['FullDescription'] =  [BeautifulSoup(x).get_text() for x in data['FullDescription']]

In [58]:
from bs4 import BeautifulSoup

In [60]:
data['FullDescription']  = data['FullDescription'].astype(str)

In [63]:
data[200:]

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
200,37404166,"Senior Director, Performance Measurement and R...",Bureau of Health Information,2018-10-07T00:00:00.000Z,Sydney,North Shore & Northern Beaches,Government & Defence,Government - State,Permanent Full Time Opportunity to work with a...,Employment Type: Permanent Full TimePosition C...,0,30,Full Time
201,37404165,"Senior Director, Performance Measurement and R...",Bureau of Health Information,2018-10-07T00:00:00.000Z,Sydney,North Shore & Northern Beaches,Healthcare & Medical,Other,Permanent Full Time Opportunity to work with a...,Employment Type: Permanent Full TimePosition C...,0,30,Full Time
202,37404163,Department Manager | South East of Melbourne |...,Gough Recruitment (VIC) Pty Ltd,2018-10-07T00:00:00.000Z,Melbourne,Bayside & South Eastern Suburbs,Real Estate & Property,Residential Leasing & Property Management,If your a Senior Property Manager or Team Lead...,My client is a place where you get treated wel...,0,30,Full Time
203,37404162,Business Analyst,Robert Walters,2018-10-07T00:00:00.000Z,Sydney,"CBD, Inner West & Eastern Suburbs",Information & Communication Technology,Business/Systems Analysts,An exciting opportunity to be a part of a glob...,An exciting opportunity to be a part of a glob...,0,30,Contract/Temp
204,37404161,Allsports Physiotherapy Casual Physiotherapy R...,Allsports Physiotherapy,2018-10-07T00:00:00.000Z,Gold Coast,NaN,Healthcare & Medical,Medical Administration,Physiotherapy Receptionist required for our Pa...,Allsports Physiotherapy & Sports Medicine Clin...,0,30,Casual/Vacation
...,...,...,...,...,...,...,...,...,...,...,...,...,...
318472,38564891,Program Manager - Trade Reporting,Talenza,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,Our client is a large Financial Services firm ...,nan,200,999,NaN
318473,38564940,Web Content Writer - June 2019 contract,Talent – Winner ‘Seek Large Recruitment Agency...,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,You will be able to write clearly and concisel...,nan,200,999,NaN
318474,38552964,Brand Director - Global Premium Brand,Retail Career Consulting Pty Ltd,2019-03-12T00:00:00.000Z,NaN,NaN,NaN,NaN,Newly created Brand Director AUS. Must be comm...,nan,200,999,NaN
318475,38534438,"Head of Financial Planning, Reporting & Strategy",Moir Group,2019-03-08T00:00:00.000Z,NaN,NaN,NaN,NaN,High-quality manufacturing organisation. Excit...,nan,200,999,NaN
318476,38561751,Head of Operations - EOI,Austcorp Executive,2019-03-13T00:00:00.000Z,NaN,NaN,NaN,NaN,Expressions of interest for a leadership role,nan,200,999,NaN

We want to consider and compare the salary base on Classification and SubClassification.